@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
	local('OpenSans'),
	url('../font/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #fff;
	margin-bottom: 40px;
	font-size: 14px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: "Roboto",Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
}

ul, ol, dl {
	font-size: 0.875rem;
}

small {
	font-size: 80%;
}

.larajobs-text {
	padding-top: 10px;
	font-size: 10pt;
}

img.larajobs-logo { 
	display: inline;
	height: 30px;
}

.top-bar {
	background: #333;
	color: white;
}

.top-bar-section .has-form {
	background: transparent;
}

.top-bar-section li a:not(.button) { 
	color: #888;
	background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	color: white;
	background: transparent;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button):hover {
	color: white;
	background:transparent;
}

.top-bar-section ul { 
	background: transparent;
}

.top-bar-section ul li>a {
	font-family: "Open Sans", sans-serif;
	font-size: 90%;
	font-weight: bold; 
}

.top-bar .name h1 a {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 110%;
	/*color: #fa503a*/;
	color: #f3f3f3;
}

@media only screen and (max-width: 40.061em) {
	.top-bar .name h1 a {
		width: 85%;
	}
}

@media only screen and (max-width: 34.061em) {
	.top-bar .name h1 a {
		font-size: 90%;
	}
}

@media only screen and (max-width: 28.061em) {
	.top-bar .name h1 a {
        width: 90%;
		font-size: 75%;
	}
}

@media only screen and (max-width: 22.061em) {
    .top-bar .name h1 a {
        font-size: 68%;
    }
}


@media only screen and (max-width: 19.999em) {
	.top-bar .name h1 a {
		display: none;
	}
}

.row.full-width { 
	width: 100%;
	max-width: 100%;
}

#top-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	border: 1px solid #5d5d5d;
	border-radius: 3px;
	display: block;
	padding: 10px;
	color: #ddd;
	z-index: 2;
}

#top-button:hover {
	background: #ddd;
	color: #333;
}

.code-column {
	background-color: #ffffff;
	color: #404040;
	word-wrap: break-word; 
}

.code-column h6 {
	color: #ddd;
	margin:0.2em 0;
}

.code-column h4 {
	color: #006225;
	margin: 10px 0;
}

.code-column h4 a { 
	color: #006225;
}

.code-column h4 a:hover {
	color: #003225;
	text-decoration: underline; 
}
